html,
body {
  margin: 0;
  padding: 0;
  border-color: #ddd;
}

/* Columns dan Rows */
/* .container {
  width: 60%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 100px 25% 200px;
  grid-template-rows: 100px;
} */

/* Implicit dan Explicit */
/* .container {
  width: 60%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 100px 50px;
  grid-template-rows: 50px 100px 150px;
  grid-auto-rows: 200px;
} */

/* grid-auto-flow */
/* .container {
  width: 60%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 100px 50px;
  grid-auto-flow: column;
  grid-auto-columns: 200px;
} */

/* Fractions */
/* .container {
  width: 60%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
} */

/* Repeat() */
/* .container {
  width: 60%;
  margin: 50px auto;
  display: grid;
  // grid-template-columns: repeat(9, 1fr); 
  grid-template-columns: repeat(4, 1fr) repeat(5, 2fr);
} */

/* min-content() & max-content() */
/* .container {
  width: 60%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
} */

/* auto-fit & auto-fill */
/* .container {
  width: 60%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
} */

/* minmax() */
.container {
  width: 60%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  background-color: rgb(138, 209, 254);
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-child(even) {
  background-color: rgb(255, 142, 142);
}