.cards {
  display: grid;
  grid-row-gap: 16px;
}

@media screen and (min-width: 375px) {
  header {
    width: 20em;
    margin: 0 auto;
  }

  .jumbotron {
    width: 100vw;
  }

  main {
    width: 20em;
  }

  .card-item>img {
    height: 14em;
  }
}

@media screen and (min-width: 425px) {
  header {
    width: 22em;
    margin: 0 auto;
  }

  .jumbotron {
    width: 100vw;
  }

  main {
    width: 22em;
    margin: 1em auto 0;
  }

  .card-item>img {
    height: 16em;
  }
}

@media screen and (min-width: 768px) {
  header {
    padding: 3.25em 0;
    width: 40em;
    margin: 0 auto;
  }

  header ul {
    width: 20em;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    height: fit-content;
    align-items: center;
    z-index: 1;
    color: #fff;
    transform: translateX(0);
    opacity: 1;
    position: static;
    transition: 0s all;
  }

  header ul li a {
    color: #333333;
    font-size: 1em;
    padding: 1em;
  }

  header ul li a:visited {
    color: #333333;
  }

  a#menu {
    display: none;
  }

  .jumbotron {
    width: 100vw;
    height: 15em;
    padding: 2em;
    align-items: start;
  }

  .jumbotron h1 {
    font-size: 2em;
  }

  .jumbotron p {
    font-size: 1em;
  }

  footer {
    font-size: 1em;
  }

  main {
    width: 40em;
    margin-top: 1.5em;
  }

  main>h2 {
    font-size: 1.2em;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.625em;
    grid-row-gap: 1em;
  }

  .section-item {
    padding: 1em 2em 2em 2em;
  }

  .section-item>h3 {
    font-size: 1.125em;
  }

  .section-item>p {
    font-size: 1em;
  }
}

@media screen and (min-width: 1024px) {
  header {
    width: 50em;
    margin: 0 auto;
  }

  .jumbotron {
    width: 100vw;
  }

  main {
    width: 50em;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  header {
    width: 59em;
    margin: 0 auto;
  }

  .jumbotron {
    min-width: 62.5em;
    height: 18em;
  }

  main {
    width: 59em;
  }
}

@media screen and (min-width: 1440px) {
  header {
    width: 65em;
    margin: 0 auto;
  }

  .jumbotron {
    min-width: 62.5em;
  }

  main {
    width: 65em;
  }
}