<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Find the best restaurant you like">
  <meta name="theme-color" content="#C55A1B">
  <link rel="apple-touch-icon" href="/icons/icon-192.png">
  <link rel="manifest" href="manifest.json">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <title>I-Restaurant</title>
</head>

<body>
  <skip-to-content></skip-to-content>
  <!-- Header -->
  <app-bar></app-bar>

  <!-- Jumbotron -->
  <jumbotron-main></jumbotron-main>

  <!-- Main -->
  <main-content></main-content>

  <!-- Footer -->
  <foo-bar></foo-bar>
</body>

</html>